body {
    background-color: azure;
}

.AddButton {
    width: 100%;
    height: 25pt;
}

.UnmatchedFields {
    width: 100%;
}

.App{
    margin: 20px;
}

.SortedFields {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding: 4px;
    border: 1px solid rgb(169, 169, 169);
}

.SortedField {
    display: table;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.SortedField:hover {
    filter: brightness(90%);
}

.SortFieldCell {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    align-items: center;
}

.GrabHandle {
    cursor: move;
    min-width: 20px;
    max-width: 20px;
}

.IsPatternIndicator {
    text-align: center;
    font-size: 10px;
    min-width: 30px;
}

.SortFieldText {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
