<?xml version="1.0"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>Glassdoor Company Review Scraper (BETA)</Name>
      <Description>Grab reviews from Glassdoor</Description>
      <CategoryName>Laboratory</CategoryName>
      <SearchTags>python, sdk, input, python sdk, optional input</SearchTags>
      <ToolVersion>1.0</ToolVersion>
      <Author>nick612hayden and tlarsendataguy</Author>
      <Company></Company>
      <Copyright>2018</Copyright>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>
